.character-avatar[data-v-b4530d8c] {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--g-gap);
    perspective: 10rem;
    position: relative
}

.character-avatar .wrap[data-v-b4530d8c] {
    --border-radius: var(--g-gap);
    perspective: 10rem;
    width: 88%
}

.character-avatar .wrap .backside[data-v-b4530d8c] {
    background-color: var(--c-grey-dark);
    border-radius: var(--border-radius);
    height: 100%;
    left: 0;
    position: absolute;
    scale: .9;
    top: 0;
    width: 100%
}

.character-avatar .wrap figure[data-v-b4530d8c] {
    backface-visibility: hidden;
    background-color: var(--c-black);
    border-radius: var(--border-radius);
    padding-bottom: 84%;
    padding-top: 84%;
    position: relative;
    width: 100%
}

.character-avatar span[data-v-b4530d8c] {
    background-color: var(--c-black);
    color: var(--c-grey-dark);
    display: block;
    margin-top: var(--g-gap);
    position: absolute;
    top: 100%;
    white-space: nowrap;
    z-index: 10
}

@media (min-width:1024px) {
    .character-avatar .wrap[data-v-b4530d8c] {
        --border-radius: var(--m);
        transform: rotateX(calc(var(--magnetic-y)*-.25deg)) rotateY(calc(var(--magnetic-x)*.25deg));
        translate: calc(var(--magnetic-x)*.5%) calc(var(--magnetic-y)*.5%);
        width: 100%;
        will-change: auto
    }
    .character-avatar .wrap figure[data-v-b4530d8c]:after {
        background-image: radial-gradient(circle at calc(50% + 50%*var(--x)) calc(50% + 50%*var(--y)), rgba(var(--c-grey-rgb), 0) 0, rgba(var(--c-grey-rgb), 0) 70%);
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: auto
    }
    .character-avatar .wrap figure[data-v-b4530d8c] img {
        scale: max(1 + .1 - .0001 * var(--spotlight-distance), 1);
        transform-origin: calc(50% + 50%*var(--magnetic-x)*.025) calc(50% + 50%*var(--magnetic-y)*.025)
    }
    .character-avatar .wrap figure[data-v-b4530d8c]:hover:after {
        background-image: radial-gradient(circle at calc(50% + 250%*var(--x)) calc(50% + 250%*var(--y)), rgba(var(--c-grey-rgb), .5) 0, rgba(var(--c-grey-rgb), 0) 70%)
    }
}