.button[data-v-f9a9769b] {
    --border-radius: 2rem;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0 .8rem .8rem rgba(var(--c-grey-dark-rgb), .05);
    display: inline-flex;
    justify-content: center;
    min-height: calc(var(--h6) + var(--g-gap));
    padding: calc(var(--g-gap)/2) calc(var(--g-gap)*2);
    position: relative
}

.button[data-v-f9a9769b]:after {
    background-image: linear-gradient(-45deg, rgba(var(--c-white-rgb), .5) 0, rgba(var(--c-white-rgb), 0) 40%, rgba(var(--c-white-rgb), 0) 60%, rgba(var(--c-white-rgb), .5) 100%);
    box-sizing: border-box;
    content: "";
    display: block;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px
}

.button .glare[data-v-f9a9769b],
.button[data-v-f9a9769b]:after {
    border-radius: var(--border-radius);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
    will-change: auto
}

.button .glare[data-v-f9a9769b] {
    align-items: center;
    -webkit-backdrop-filter: blur(.4rem) saturate(120%);
    backdrop-filter: blur(.4rem) saturate(120%);
    background-color: #a7a7b415;
    box-shadow: inset 0 0 .4rem .2rem rgba(var(--c-black-rgb), .1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    contain: paint;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), -webkit-backdrop-filter .6s var(--f-cubic);
    transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), backdrop-filter .6s var(--f-cubic);
    transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), backdrop-filter .6s var(--f-cubic), -webkit-backdrop-filter .6s var(--f-cubic)
}

.button span[data-v-f9a9769b]:not(.glare) {
    color: var(--c-grey);
    margin-right: auto;
    pointer-events: none;
    position: relative;
    white-space: nowrap
}

.button[data-v-f9a9769b]:has(svg) {
    padding: calc(var(--g-gap)/2) calc(var(--g-gap)*2)
}

.button.-passthrough .glare[data-v-f9a9769b] {
    -webkit-backdrop-filter: initial;
    backdrop-filter: none
}

.button.-min[data-v-f9a9769b] {
    padding: calc(var(--g-gap)/2) calc(var(--m))
}

.button.-min .glare[data-v-f9a9769b] {
    -webkit-backdrop-filter: initial;
    backdrop-filter: none
}

.-light .button span[data-v-f9a9769b],
.-light .button *[data-v-f9a9769b-s] {
    color: var(--c-black)
}

@media (max-width:1024px) {
    .button.route[data-v-f9a9769b]:before {
        background-image: url(../images/icons/icon-24_enter.svg)
    }
    .button.newtab[data-v-f9a9769b]:before,
    .button.route[data-v-f9a9769b]:before {
        aspect-ratio: 1/1;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        right: calc(var(--g-gap)*2);
        width: var(--p);
        z-index: 20
    }
    .button.newtab[data-v-f9a9769b]:before {
        background-image: url(../images/icons/icon-24_blank.svg)
    }
    .button.download[data-v-f9a9769b]:before {
        aspect-ratio: 1/1;
        background-image: url(../images/icons/icon-24_download.svg);
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        position: absolute;
        right: calc(var(--g-gap)*2);
        width: var(--p);
        z-index: 20
    }
}

@media (min-width:1024px) {
    .button[data-v-f9a9769b] {
        min-height: auto;
        padding: calc(var(--g-gap)/2) calc(var(--h6));
        scale: 1 1;
        transform: scale(1);
        transition: scale .45s var(--f-bounce), transform .3s var(--f-bounce), opacity .3s var(--f-cubic);
        will-change: auto
    }
    .button[data-v-f9a9769b]:after {
        background-image: linear-gradient(calc(1deg*var(--spotlight-angle)), rgba(var(--c-white-rgb), calc(.5 - var(--spotlight-distance)/4000)) 0, rgba(var(--c-white-rgb), 0) 40%, rgba(var(--c-white-rgb), 0) 60%, rgba(var(--c-white-rgb), calc(.5 - var(--spotlight-distance)/4000)) 100%)
    }
    .button .glare[data-v-f9a9769b]:before {
        aspect-ratio: 1/1;
        background-image: url(../images/flashing-circle-w.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        display: block;
        min-height: 100%;
        opacity: 0;
        transform: translate3d(calc(100%*var(--x)), calc(100%*var(--y)), 0);
        width: max(100%, 100vh)
    }
    .button .glare[data-v-f9a9769b],
    .button[data-v-f9a9769b]:after {
        scale: 1 1;
        transform: scale(1);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), -webkit-backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .45s var(--f-bounce), transform .3s var(--f-bounce), backdrop-filter .6s var(--f-cubic), -webkit-backdrop-filter .6s var(--f-cubic);
        will-change: auto
    }
    .button span[data-v-f9a9769b]:not(.glare) {
        margin-right: 0
    }
    .button.-min[data-v-f9a9769b]:after {
        background-image: linear-gradient(calc(1deg*var(--spotlight-angle)), rgba(var(--c-white-rgb), calc(.2 - var(--spotlight-distance)/4000)) 0, rgba(var(--c-white-rgb), 0) 40%, rgba(var(--c-white-rgb), 0) 60%, rgba(var(--c-white-rgb), calc(.2 - var(--spotlight-distance)/4000)) 100%)
    }
    .-light .button[data-v-f9a9769b]:after,
    .-light-alt .button[data-v-f9a9769b]:after {
        background-image: linear-gradient(calc(1deg*var(--spotlight-angle)), rgba(var(--c-white-rgb), calc(.75 - var(--spotlight-distance)/4000)) 0, rgba(var(--c-white-rgb), .2) 40%, rgba(var(--c-white-rgb), .2) 60%, rgba(var(--c-white-rgb), calc(.75 - var(--spotlight-distance)/4000)) 100%)
    }
    .-b-w:hover .button:not(.-disabled) .glare[data-v-f9a9769b] {
        scale: 2
    }
    .-b-w:hover .button:not(.-disabled) .glare[data-v-f9a9769b],
    .-b-w:hover .button[data-v-f9a9769b]:not(.-disabled):after {
        scale: 1 calc(1 + var(--skY)/1.5);
        transform: scaleX(calc(1 + var(--skX)/1.5));
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), -webkit-backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), backdrop-filter .6s var(--f-cubic), -webkit-backdrop-filter .6s var(--f-cubic)
    }
    .button:not(.-disabled):hover .glare[data-v-f9a9769b] {
        scale: 2
    }
    .button:not(.-disabled):hover .glare[data-v-f9a9769b]:before {
        animation: opacityGlare-f9a9769b 1.5s var(--f-cubic) forwards
    }
    .button:not(.-disabled):hover .glare[data-v-f9a9769b],
    .button[data-v-f9a9769b]:not(.-disabled):hover:after {
        scale: 1 calc(1 + var(--skY)/1.5);
        transform: scaleX(calc(1 + var(--skX)/1.5));
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), -webkit-backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), backdrop-filter .6s var(--f-cubic);
        transition: background-color .6s var(--f-cubic), box-shadow 1.8s var(--f-cubic), scale .3s var(--f-bounce), transform .45s var(--f-bounce), backdrop-filter .6s var(--f-cubic), -webkit-backdrop-filter .6s var(--f-cubic)
    }
    .button[data-v-f9a9769b]:not(.-disabled):active {
        scale: 1 calc(1 + var(--skY)/2);
        transform: scaleX(calc(1 + var(--skX)/2));
        transition: scale 0s, transform 0s, opacity 0s
    }
    .button:not(.-disabled):active .glare[data-v-f9a9769b] {
        background-color: #a7a7b425;
        transition: background-color 0s, box-shadow 0s, scale 0s, transform 0s, -webkit-backdrop-filter 0s;
        transition: background-color 0s, box-shadow 0s, scale 0s, transform 0s, backdrop-filter 0s;
        transition: background-color 0s, box-shadow 0s, scale 0s, transform 0s, backdrop-filter 0s, -webkit-backdrop-filter 0s
    }
    .button:not(.-disabled):active .glare[data-v-f9a9769b]:before {
        animation: none;
        opacity: .6
    }
}

@keyframes opacityGlare-f9a9769b {
    0% {
        opacity: .6
    }
    to {
        opacity: .1
    }
}

.-w[data-v-e764b164] {
    grid-column-gap: var(--g-gap);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--g-columns, 12), 1fr);
    grid-template-rows: repeat(var(--rows, 1), var(--rows-height, auto));
    margin: 0 var(--g-margin);
    position: relative
}

.-w[data-v-e764b164]>* {
    --left: 1;
    --top: 1;
    --width: 1;
    --height: 1;
    grid-column-end: calc(var(--left, 1) + var(--width, 1));
    grid-column-start: var(--left, 1);
    grid-row-end: calc(var(--top, 1) + var(--height, 1));
    grid-row-start: var(--top, 1)
}