.wavy-bend[data-v-18f38bed] {
    contain: paint;
    display: inline-flex;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.wavy-bend canvas[data-v-18f38bed] {
    display: block;
    height: 100%;
    width: 100%
}